header{background-color:#ccc; text-align:center; padding: 26px 0 ;}

body {background-color:white; margin:0;
}


h1{margin:16px 20 0 ; text-align: center;
font-weight:normal;
font-size:25px;}

main{padding:64px;}

h2{text-align: center; font-size:30px; font-weight: normal;}

h3{font-size:20px;font-weight: normal }


.icon{border-radius: 50%; width:130px; height:130px;margin:0 auto; }

section{width:400px;margin:64px auto 0;}

footer{text-align:center; border-top:1px solid #ccc; padding:64px 0;}

small{font-size:15px; color:#ccc;}

address{margin-top: 16px;}

a:hover{opacity:0.7;}
